@font-face {
    font-family: Billabong;
    src: url('../../public/font/Billabong.ttf');
}

$title-font: 'Billabong';
$default-padding: .5rem .8rem;

.icon {
    height: 1.4rem;
    aspect-ratio: 1 / 1;
    color: #666;
}